body {
   display:flex;
   flex-flow:column ;
   height: 100vh; 
   width: 100vw;
   margin: 0;
   font-family: Roboto, sans-serif;
 }

 /* ---  CLEAN-UP <a> & <ul>'s  --- */
 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
 }

 
 /* ---  HEADER   SECTION  --- */
 .header{
    display:flex;
    flex-flow: row;

    background-color:#1f2836;
    height: 50px;
    justify-content: space-between;
    padding-bottom:30px;
    width: 100vw;
 }

 .dogsite {
  display:flex;
  height: fit-content;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding:10px;
  padding-left: 20px;

/*  Font Style  */
   color: aliceblue;
   font-size: 38px;
   font-weight: 800;
 }

 .header-links {
   display:flex;
   flex-flow: row nowrap;
   gap: 30px;
   margin-right: 50px;
   margin-top:0px;
   margin-bottom: 0px;

   align-items:flex-end;
   padding-left:0px;
   padding-bottom:5px;
   font-weight: 500;
 }

 .header-links a {
   color:white;
 }

 /* ---  FIRST  SECTION  --- */

 .first-part {
   display:flex;
   background-color:#1f2836;
   height: 400px;
   justify-content: space-around;
   align-items:center;
   padding: 40px;
   width: 100vw;
 }

  /* First-Left Section */
  .first-left {
   display:flex;
   flex-flow: column;
   gap: 20px;
   padding: 20px;
   height: 220px;
   width: 500px;
   background-color: #1f2836;
 }

 .first-left h2 {
   display:flex;
   font-weight: 800;
   font-size: 32px;
   color: white;
   margin: 0px;
 }

 .first-left div {
   font-size: 20px;
   color: white;
 }

 .first-left button {
   margin-top:auto;
   width: 150px;
   padding: 10px;
   background-color: #3a83f6;
   color: white;
   height:auto;
   font-size: large;
   border-style: none;
   border-radius: 6px;
   box-shadow:1px 1px 5px 1px rgb(255, 255, 255);

 }

  /* First-Right Section */

 .first-right {
   max-height:252px;

 }

 .first-right img {
   box-shadow:1px 1px 5px 1px rgb(255, 255, 255);
}

 /* ---  MEAT/MIDDLE   SECTION  --- */

.meat-section {
  display:flex;
  flex-flow:column;
  align-items:center;
  background-color: #ffffff;
  margin-bottom: 200px;
  width: 100vw;
  margin-top: 40px;

}

.title {
  font-weight: 800;
  font-size: 32px;
}
.images-section { 
  display:flex;
  justify-content:space-around;
  width: 100vw;
  height: 300px;
}

.img1, .img2, .img3, .img4 {
  width:300px;
  height:300px;
  border:4px solid #3a83f6;
  border-radius:15px;
   background-color: white;
}

.team-desc {
  display:flex;
  justify-content: space-around;
  gap: 50px;
  width: 100vw;
  margin-top: 20px;
}

.desc1, .desc2, .desc3, .desc4 {
  text-align: center;
  font-size: 18px;
  width:300px;
}

/* ---  INSPIRING QUOTE   SECTION  --- */

.inspiring-quote {
display: flex;
width:100vw;
flex-flow:column;
align-items: center;
background-color:#e4e7ea;
padding-top: 40px;
padding-bottom: 40px;
}

.inspiring-quote p {
  width: 700px;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.inspiring-quote div {
  width:700px;
  font-size: 20px;
  text-align: end;
}

/* ---  CALL TO ACTION   SECTION  --- */
.call-to-action {
  display:flex;
  flex-flow: column;
  background-color: white;
  padding: 100px;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.card {
  display: flex;
  align-items: center;
  background-color:#3a83f6 ;
  color: white;
  gap: 60px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top:30px;
  padding-bottom: 30px;
  border-radius: 8px;
}

.contact-us {
  font-size: 20px;
  font-weight: 700;
}

.card button {
  height: 30px;
  width: fit-content;
  color: white;
  background-color: #3a83f6;
  border: 1px solid white;
  border-radius: 6px;
}

.footer {
  display: flex;
  width: 100vw;
  padding: 30px;
  background-color: #1f2836;
  justify-content: center;
  color: white;
  font-size: small;
}



